<div class="siteTitle">
  <a href="/products">Craftsy</a>
</div>
<div class="well centerHeader">
  <% if current_user %>
    <% if current_user.admin?%>
  <%= link_to "Create New Product", new_product_path, :class => "bigLink"%>
  <br><br>
  <% end %>
  <% end %>
  <% if @products.any? %>
  <div class="row" id="topMargin">
    <% @products.each do |product| %>
    <div class="col m4">
      <div class="card">
        <div class="card-image">
            <a href="/products/<%= product.id %>"><%= image_tag product.imgfile, :class => "thisImage"  %></a>
        </div>
        <div class="card-content">
          <span class="card-title"> <%= product.name %> </span>
          <p><%= product.details %></p>
          <br><span>

          <div class="chip">

            <%= product.cost %>
          </div>
          <a href="/products/<%= product.id %>" class="btn-floating waves-effect waves-light red"><i class="material-icons">info_outline</i></a>
        </span>
        </div>
      </div>
    </div>
    <% end %>
  <% else %>
  <div class="centerText">
    <h1>There are no products to display</h1>
    <a href="/users/sign_in"><h3>Click here to Log In</h3></a>
    <a href="/users/sign_up"><h3>Click here to Sign Up</h3></a>
  </div>

  <% end %>
  </div>




</div>
