<div class="siteTitle">
  <a href="/products">Craftsy</a>
</div>
<div class="well centerHeader">
  <%= link_to "Create New product", new_product_path, :class => "bigLink"%>
  <br><br>
  <% if @products.any? %>
  <div class="row" id="topMargin">
    <% @products.each do |product| %>
    <div class="col m4">
      <div class="card">
        <div class="card-image">
            <%= image_tag product.imgfile %>
        </div>
        <div class="card-content">
          <span class="card-title"> <%= product.name %> </span>
          <p><%= product.details %></p>
          <br><span>

          <div class="chip">

            <%= product.cost %>
          </div>
          <a href="/products/<%= product.id %>" class="btn-floating waves-effect waves-light red"><i class="material-icons">info_outline</i></a>
        </span>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
  </div>




</div>
