<div class="siteTitle">
  <a href="/products">Craftsy</a>
</div>

<div class="well">
  <div class="card">
    <div class="card-image resizeImg">
      <%= image_tag @product.imgfile %>
    </div>
    <div class="card-content">
      <span class="card-title centerText"> <%= @product.name %> <%= @product.cost %> | <%= @product.details %>
        <% if current_user %>
          <% if current_user.admin?%>
          | <%= link_to "Edit Product", edit_product_path %>  |  <%= link_to "Delete Product", product_path, :data => {:confirm => "Are you sure?",:method => "delete"} %></span>
          <% end %>
        <% end %>
        <div class="well">
          <h2 style="text-align: center; color: white;">Product Reviews</h2>
        <h5 style="text-align: center;"><%= link_to "Add a review", new_product_review_path(@product) %></h5>

        <br><br>

        <% if @reviews.any? %>
          <% @reviews.each do |review| %>
            <h5><%= review.title %> </h5>
            by <i><%= review.name %></i> (<%= review.created_at %>)
            <br>
            <%= review.content %>
            <br><br>
          <% end %>
        <% end %>
        </div>


    </div>
  </div>
</div>
