<div class="siteTitle">
  <a href="/products">Craftsy</a>
</div>

<div class="well">
  <div class="card">
    <div class="card-image resizeImg">
      <%= image_tag @product.imgfile %>
    </div>
    <div class="card-content">
      <span class="card-title centerText"> <%= @product.name %> <%= @product.cost %> | <%= @product.details %>
        <% if current_user %>
          <% if current_user.id == @product.user_id %>
          | <%= link_to "Edit Product", edit_product_path %>  |  <%= link_to "Delete Product", product_path, :data => {:confirm => "Are you sure?",:method => "delete"} %></span>
          <% end %>
        <% end %>

    </div>
  </div>
</div>
