<!DOCTYPE html>
<html>
  <head>
    <title>Craftsy</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
        <%= yield %>
    </div>

    <footer class="page-footer brown lighten-1">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Craftsy</h5>
                <p class="grey-text text-lighten-4">Handmade Crafts and Couture
                  <br><br>
                  123 SW Kelly ave <br>
                  Portland, OR <br>
                  United States <br>
                  97214</p>

              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>

                  <% if current_user %>
                  <li style="color: white;"><%= current_user.email %></li>
                  <br>
                  <% end %>

                  <li><a href="/" class=" logo-size">Home Page</a></li>

                  <% if current_user %>
                  <li><%= link_to "View My Products", products_path, :class => 'main-links' %> </li>
                    <li><%= link_to "Log-out", destroy_user_session_path, method: "delete" %></li>
                  </div>
                  <% else %>
                      <li>  <%= link_to "Log-in", new_user_session_path %> | <%= link_to "Signup", new_user_registration_path %></li>
                    </div>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Copywrite Craftsy Co.
            </div>
          </div>
        </footer>
  </body>
</html>
